<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="register_form"  (submit)="onSubmit(register_form.value)">

    <ion-item>
      <ion-label color="primary" position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Display Name</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" type="submit" [disabled]="!register_form.valid">Submit</ion-button>
  </form>
</ion-content>
